<h1><%= 'Hey there!' %></h1>


<h2><%= 'Your move:' %></h2>
	<li><%= @user_move %></li>

<h2><%= 'Computer move:' %></h2>
	<li><%= @computer_move %></li>

<h2><%= 'Result:' %></h2>
	<li><%= @results %></li>