
<div class="row">
	<div class="col-md-offset-2 col-md-4">
		<div class="panel panel-success">
  			<div class="panel-heading">
    			<h3 class="panel-title text-center"><%= @user_move.capitalize %></h3>
  			</div>
  			<div class="panel-body">
   				<img src=<%= @user_link_image %> style="width: 100%; max-height: 100%">
  			</div>
		</div>
	</div>

    <div class="col-md-4">
    	<div class="panel panel-danger">
  			<div class="panel-heading">
    			<h3 class="panel-title text-center"><%= @computer_move.capitalize %></h3>
  			</div>
  			<div class="panel-body">
   				<img src=<%= @computer_link_image %> style="width: 100%; max-height: 100%">
  			</div>
		</div>
    </div>
</div>




<div class="row">
   	<div class="col-md-12">
   		<div class="panel panel-default">
  			<div class="panel-heading">
  			<div class="text-center">
  				<h1><span class="label label-lg label-danger"><%= @results %></span></h1>
  			</div>
		</div>
   	</div>
</div>